{% extends 'base.html' %}

{% block title %}Compra Finalizada - The Closet{% endblock %}

{% block content %}
<div class="purchase-confirmation">
    <div class="confirmation-container">
        <div class="confirmation-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
        </div>
        <h1 class="confirmation-title">Compra finalizada com sucesso!</h1>
        <p class="confirmation-message">Obrigado por escolher a The Closet.</p>
        <a href="{% url 'home' %}" class="confirmation-button">Voltar para a Loja</a>
    </div>
</div>
{% endblock %}
